[Unit]
Description=Server Admin Dashboard
After=docker.service
Requires=docker.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker stop server-admin-dashboard
ExecStartPre=-/usr/bin/docker rm server-admin-dashboard
ExecStartPre=/usr/bin/docker pull ghcr.io/${GITHUB_USERNAME}/server-admin-dashboard:latest
ExecStart=/usr/bin/docker run --name server-admin-dashboard \
  -p 80:80 \
  -e REACT_APP_API_URL=${API_URL} \
  -e REACT_APP_WOL_SERVICE_URL=${WOL_SERVICE_URL} \
  --restart unless-stopped \
  ghcr.io/${GITHUB_USERNAME}/server-admin-dashboard:latest
ExecStop=/usr/bin/docker stop server-admin-dashboard

[Install]
WantedBy=multi-user.target